# General
CERTBOT_EMAIL=admin@swirl.today # CHANGE_ME
CERTBOT_VERSION=
NGINX_VERSION=
POSTGRES_VERSION=
REDIS_VERSION=
SWIRL_VERSION=
TIKA_VERSION=
TTM_VERSION=
USE_CERT=false # CHANGE_ME
USE_LOCAL_POSTGRES=true # CHANGE_ME
USE_NGINX=false # CHANGE_ME
USE_TLS=false # CHANGE_ME

# Swirl
ADMIN_USER_EMAIL="admin@swirl.today" # CHANGE_ME
ALLOWED_HOSTS="localhost,127.0.0.1,swirl," # CHANGE_ME
AXES_CLIENT_IP_CALLABLE=""
AZ_GOV_COMPATIBLE=false # CHANGE_ME
CACHE_REDIS_URL="redis://redis:6379/1"
CELERY_BROKER_URL="redis://redis:6379/0"
CELERY_RESULT_BACKEND="redis://redis:6379/0"
CSRF_TRUSTED_ORIGINS="http://localhost:8000" # CHANGE_ME
GOOGLE_APPLICATION_CREDENTIALS="/app/secrets/google-credentials.json"

# Uncomment and set the GOOGLE_AUTH_CLIENT_ID if you want to use Google authentication
# GOOGLE_AUTH_CLIENT_ID=""

IN_PRODUCTION="False"
LOGIN_REDIRECT_URL=""
LOGOUT_REDIRECT_URL=""
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""
MICROSOFT_REDIRECT_URI=""

# Uncomment and set the following if you want to use Microsoft authentication
# MS_AUTH_CLIENT_ID=""
# MS_TENANT_ID=""

OIDC_AUTHENTICATION_CALLBACK_URL=""
OIDC_OP_AUTHORIZATION_ENDPOINT=""
OIDC_OP_JWKS_ENDPOINT=""
OIDC_OP_TOKEN_ENDPOINT=""
OIDC_OP_USER_ENDPOINT=""
OIDC_RP_CLIENT_ID=""
OIDC_RP_CLIENT_SECRET=""
OIDC_RP_SIGN_ALGO=""
OIDC_STORE_ACCESS_TOKEN=""
OIDC_STORE_ID_TOKEN=""
OIDC_USERNAME_ALGO=""
PAGE_CACHE_REDIS_URL="redis://redis:6379/7"
PGBOUNCER_PRODUCTION=""
PROTOCOL="http"
SEARCH_RESULT_STORE_REDIS_URL="redis://redis:6379/2"
SEARCH_RESULTS_STORE_TIMEOUT="300"
SHOULD_USE_TOKEN_FROM_OAUTH="True"
SQL_DATABASE="swirl"
SQL_ENGINE="django.db.backends.postgresql"
SQL_HOST="postgres" # CHANGE_ME
SQL_PORT="5432" # CHANGE_ME
SQL_SSLMODE="prefer" # CHANGE_ME
SWIRL_ES_VERSION="8"
SWIRL_EXPLAIN="True"
SWIRL_FQDN="localhost" # CHANGE_ME
SWIRL_LOG_DEBUG=""
SWIRL_LICENSE='' # CHANGE_ME
SWIRL_LOG_DEBUG=""
SWIRL_PORT=""
SWIRL_RAG_CHAT_INTERACTION_APPROACH="ChatGAIGuided"
SWIRL_RAG_DISTRIBUTION_STRATEGY="RoundRobin"
SWIRL_SVC="swirl"
SWIRL_TEXT_SUMMARIZATION_URL="http://ttm:7029"
TIKA_SERVER_ENDPOINT="http://tika:9998"

# Secrets
ADMIN_PASSWORD="" # CHANGE_ME
GOOGLE_CREDENTIALS="" # CHANGE_ME
SQL_PASSWORD="" # CHANGE_ME
SQL_USER="" # CHANGE_ME