# General
USE_NGINX=false # CHANGE_ME
USE_TLS=false # CHANGE_ME
CERTBOT_EMAIL=admin@swirl.today # CHANGE_ME
USE_LOCAL_POSTGRES=true # CHANGE_ME
NGINX_VERSION=
CERTBOT_VERSION=
POSTGRES_VERSION=
REDIS_VERSION=
TIKA_VERSION=
TTM_VERSION=
SWIRL_VERSION=

# Swirl
FQDN="localhost" # CHANGE_ME
ALLOWED_HOSTS="localhost,127.0.0.1,swirl," # CHANGE_ME
SWIRL_SVC="swirl"
ADMIN_USER_EMAIL="admin@swirl.today" # CHANGE_ME
PROTOCOL="http"
SWIRL_EXPLAIN="True"
SQL_ENGINE="django.db.backends.postgresql"
SQL_SSLMODE="disable"
CSRF_TRUSTED_ORIGINS="http://localhost:8000" # CHANGE_ME
IN_PRODUCTION="False"
CELERY_BROKER_URL="redis://redis:6379/0"
CELERY_RESULT_BACKEND="redis://redis:6379/0"
MSAL_AUTH_REDIRECT_URI=""
MSAL_AUTH_CLIENT_ID=""
MSAL_AUTH_AUTHORITY=""
OAUTH_CONFIG_ISSUER=""
OAUTH_CONFIG_REDIRECT_URI=""
OAUTH_CONFIG_CLIENT_ID=""
OAUTH_CONFIG_TOKEN_ENDPOINT=""
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""
MICROSOFT_REDIRECT_URI=""
OIDC_RP_CLIENT_ID=""
OIDC_RP_CLIENT_SECRET=""
OIDC_OP_AUTHORIZATION_ENDPOINT=""
OIDC_OP_TOKEN_ENDPOINT=""
OIDC_OP_USER_ENDPOINT=""
OIDC_RP_SIGN_ALGO=""
OIDC_OP_JWKS_ENDPOINT=""
LOGIN_REDIRECT_URL=""
LOGOUT_REDIRECT_URL=""
OIDC_USERNAME_ALGO=""
OIDC_STORE_ACCESS_TOKEN=""
OIDC_STORE_ID_TOKEN=""
OIDC_AUTHENTICATION_CALLBACK_URL=""
WEBSOCKET_URL="wss://localhost/chatgpt-data"  # CHANGE_ME
WEBSOCKET_TIMEOUT="90000"
SWIRL_RAG_DISTRIBUTION_STRATEGY="RoundRobin"
TIKA_SERVER_ENDPOINT="http://tika:9998"
SWIRL_TEXT_SUMMARIZATION_URL="http://ttm:7029"
PAGE_CACHE_REDIS_URL="redis://redis:6379/7"
SEARCH_RESULT_STORE_REDIS_URL="redis://redis:6379/2"
SWIRL_ES_VERSION="8"
SWIRL_LICENSE='' # CHANGE_ME
CACHE_REDIS_URL="redis://redis:6379/1"
GOOGLE_APPLICATION_CREDENTIALS="/app/secrets/google-credentials.json"
SWIRL_RAG_CHAT_INTERACTION_APPROACH="ChatGAIGuided"
SEARCH_RESULTS_STORE_TIMEOUT="300"
SWIRL_LOG_DEBUG=""
SQL_DATABASE="swirl"
SQL_HOST="postgres" # CHANGE_ME
SQL_PORT="5432" # CHANGE_ME
AZ_GOV_COMPATIBLE=false # CHANGE_ME

# Secrets
ADMIN_PASSWORD="" # CHANGE_ME
GOOGLE_CREDENTIALS="" # CHANGE_ME
SQL_USER="" # CHANGE_ME
SQL_PASSWORD="" # CHANGE_ME