# General

# CHANGE ME : If using a different cerbot account.
CERTBOT_EMAIL=admin@swirl.today

CERTBOT_VERSION=
NGINX_VERSION=
POSTGRES_VERSION=16
REDIS_VERSION=8
SWIRL_VERSION=
SWIRL_PATH="swirlai/release-swirl-search-enterprise"
TIKA_VERSION=
TTM_VERSION=
MCP_VERSION=

# CHANGE ME : Set to true if using your own certs
USE_CERT=false

# CHANGE ME : set to false if using an external Post
USE_LOCAL_POSTGRES=true

# CHANGE ME : set to true if you want to use the local NGINX container
USE_NGINX=false

# CHANGE ME : set to true to enable local TLS and ACME cert managment
USE_TLS=false

# Uncomment these for Mac OS Docker
# SWIRL_INTERACTIVE_CONCURRENCY=1
# SWIRL_PAGEFETCH_CONCURRENCY=1
# SWIRL_MAINTENANCE_CONCURRENCY=1
# SWIRL_SEARCH_CONCURRENCY=5

# Swirl
# CHANGE ME: To change the Swirl admin email.
ADMIN_USER_EMAIL="admin@swirl.today"

# CHANGE ME : NOTE, SWIRL_FQDN will be automatically added to this list.
ALLOWED_HOSTS="localhost,127.0.0.1,swirl,"

AXES_CLIENT_IP_CALLABLE=""

# CHANGE ME : Set to true when deploying in an Azure Gov Environment
AZ_GOV_COMPATIBLE=false

CACHE_REDIS_URL="redis://redis-cache:6379/1"
CELERY_BROKER_URL="redis://redis-broker:6379/0"
CELERY_RESULT_BACKEND="redis://redis-broker:6379/0"

# If undefined, autopopulated by PROTOCOL, SWIRL_FQDN, and PROT

# CHANGE ME : Change to correct protocol and swirl fully qualified domain and port (or none)
CSRF_TRUSTED_ORIGINS="http://localhost:8000"

GOOGLE_APPLICATION_CREDENTIALS="/app/secrets/google-credentials.json"

# Uncomment and set the GOOGLE_AUTH_CLIENT_ID if you want to use Google authentication
# GOOGLE_AUTH_CLIENT_ID=""

IN_PRODUCTION="False"
LOGIN_REDIRECT_URL=""
LOGOUT_REDIRECT_URL=""
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""
MICROSOFT_REDIRECT_URI=""

MCP_ENABLED=false
MCP_PORT="9000"
MCP_SWIRL_BASE_URL="0.0.0.0"
MCP_SWIRL_BASE_PATH="/api/swirl"
MCP_TIMEOUT="30"

# Uncomment and set the following if you want to use Microsoft authentication
# MS_AUTH_CLIENT_ID=""
# MS_TENANT_ID=""

OIDC_AUTHENTICATION_CALLBACK_URL=""
OIDC_OP_AUTHORIZATION_ENDPOINT=""
OIDC_OP_JWKS_ENDPOINT=""
OIDC_OP_TOKEN_ENDPOINT=""
OIDC_OP_USER_ENDPOINT=""
OIDC_RP_CLIENT_ID=""
OIDC_RP_CLIENT_SECRET=""
OIDC_RP_SIGN_ALGO=""
OIDC_STORE_ACCESS_TOKEN=""
OIDC_STORE_ID_TOKEN=""
OIDC_USERNAME_ALGO=""
PAGE_CACHE_REDIS_URL="redis://redis-cache:6379/7"
PGBOUNCER_PRODUCTION=""
SEARCH_RESULT_STORE_REDIS_URL="redis://redis-broker:6379/2"
SEARCH_RESULTS_STORE_TIMEOUT="300"
SHOULD_USE_TOKEN_FROM_OAUTH="True"
SQL_DATABASE="swirl"
SQL_ENGINE="django.db.backends.postgresql"

# CHANGE ME : To external SQL host if necessary
SQL_HOST="postgres"

# CHANGE ME : To external SQL port if necessary
SQL_PORT="5432"

# CHANGE ME : To a different SQL SSL mode if necessary
SQL_SSLMODE="prefer"

SWIRL_ES_VERSION="8"
SWIRL_EXPLAIN="True"

# CHANGE ME : Set to Fully qualified domain of swirl
SWIRL_FQDN="localhost"

SWIRL_LOG_DEBUG=""

# CHANGE ME : Add Swirl license string between single quotes
SWIRL_LICENSE=''

SWIRL_LOG_DEBUG=""

# CHANGE_ME Optional: bind Swirl to a specific host port for local dev.
# For cloud / reverse proxy (eg. NGINX) deployments, you can leave this commented out.
# SWIRL_PORT="8000"

# CHANGE_ME - change to http(s) if using TLS
PROTOCOL="http"
SWIRL_RAG_CHAT_INTERACTION_APPROACH="ChatGAIGuided"
SWIRL_RAG_DISTRIBUTION_STRATEGY="RoundRobin"
SWIRL_SVC="swirl"
SWIRL_TEXT_SUMMARIZATION_URL="http://ttm:7029"
TIKA_SERVER_ENDPOINT="http://tika:9998"

# Secrets
## MCP Endpoint Authentication

# CHANGE ME : To the user name that the MCP server will use to login to Swirl, if using MCP
SWIRL_MCP_USERNAME=""

# CHANGE_ME : To the password that the MCP server will use to login to Swirl, if using MCP
SWIRL_MCP_PASSWORD=""

## User in Swirl to which MCP requests will be authenticated
SWIRL_API_USERNAME=""
SWIRL_API_PASSWORD=""

# CHANGE ME : To the desired Swirl admin password
ADMIN_PASSWORD=""

# CHANGE_ME
GOOGLE_CREDENTIALS=""

# CHANGE ME : To the desired SQL password of the Swirl SQL user
SQL_PASSWORD=""

# CHANGE_ME : To the desired SQL username of the Swirl SQL user
SQL_USER=""