[Unit]
Description=Swirl AI Connect
After=network.target

[Service]
ExecStart=/bin/bash {{WORKING_DIRECTORY}}/scripts/swirl-service.sh
ExecStop=/usr/bin/docker compose --profile all stop
WorkingDirectory={{WORKING_DIRECTORY}}
Restart=always
User=root
EnvironmentFile={{WORKING_DIRECTORY}}/.env

[Install]
WantedBy=multi-user.target
