[Unit]
Description=Swirl AI Connect
After=network.target

[Service]
ExecStart=/bin/bash /app/scripts/swirl-service.sh
ExecStop=/usr/bin/docker compose --profile all stop
WorkingDirectory=/app
Restart=always
User=root
EnvironmentFile=/app/.env

[Install]
WantedBy=multi-user.target